
<%-include ('header')-%>
  <section class="playlist-section spad">
    <div class="container-fluid">
      <div class="section-title">
        <h2>Offres Disponible</h2>
      </div>
      <div class="container">
        <ul class="playlist-filter controls">
          <li class="control" data-filter="all">Tout</li>
          <li class="control" data-filter=".chere">Plus Cheres</li>
          <li class="control" data-filter=".recentes">Plus Recentes</li>
          
        </ul>
      </div>
      <div class="row playlist-area">
        <% if(locals.useroffre){
          useroffre.forEach(function (useroffres){ %>
        <div class="mix col-lg-3 col-md-4 col-sm-6 chere">
          <div class="card playlist-item">
            <div class="card-body">
              <h5 class="card-title"><%= useroffres.titre %></h5>
              <p class="card-text"><%= useroffres.description %> </p>
              <p> <strong>Budget :</strong> <%= useroffres.budget %> </p><a href="/offre/<%= useroffres._id %>" class="btn btn-warning">Voir</a> 
            </div>
          </div>
        </div>
        <%})} %>
        
        
      </div>
    </div>
  </section>


<%-include('footer')-%>